
.card {
    width: 90%; 
    height: 240px;
    margin-top: 40px;
    margin-left: 100px;
    display: grid; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    background-color: #dfd0d0;



}
.cardtotal {
    width: 90%; 
    height: 75px;
    margin-top: 40px;
    margin-left: 100px;
    display: flex; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 8px;
    background-color: #8d8989;
    margin-bottom: 40px;



}
.details {
    display: grid; 
    grid-template-columns: 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr 20fr;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    font-size: 20px;
}
.detailtotal {
    display: flex; 
    align-items: center;
    padding: 20px; 
    font-size: 40px;
    text-align: right;
    margin-left: 75%;
}
.space{
 margin: 9px;
}
.img{
    margin-left: 20px;
}

.set_button_delete{
    display: grid;
    grid-template-columns: auto auto;
}



.button_delete1{
    color: white;
    background-color: red;
    text-align: center;
    align-items: center;
    padding : 5px 5px;
    font-size: 22px;
    transition: background-color 0.3s ease;
}

.text_in_detail{
    text-align: center;
}

.delete_all{
    display: grid;
    margin-top: 1%;
    margin-bottom: -1%;
    grid-template-columns: 5fr 10fr 75fr;
}
.button_delete{
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.buy-button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #45a049;
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.popup-content {
    background: rgb(236, 236, 236);
    padding: 90px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.popup-content button {
    margin: 10px;
    padding: 10px 16px;
    cursor: pointer;
    
}
.t{
    font-size: 50px;
}
.ball{
    display: grid;
    margin-top: -1%;
    margin-bottom: 1%;
    grid-template-columns: 85fr 10fr 5fr ;
}

.button_buyall{
    color: rgb(7, 7, 7);
    background-color: rgb(11, 240, 106);
    text-align: center;
    align-items: center;
    padding : 5px 5px;
    font-size: 22px;
}
